// BLOC LOGO de OhMyFOOD

#logo{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 10px;
    img{
        width: 60%;
    }
}

// BLOC LOCALISATION

.bordureHaute{
    height: 5px;
    width: 100%;
    background: linear-gradient(#d2d2d2, $gris_fonce);
}

.gps{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $gris_fonce; // a modifier avec la vraie couleur en variable !!!  
    }

// ACCUEIL

.accueil{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: $gris_clair ; // A modifier avec la vraie couleur en variable !!!
    padding-bottom: 30px;
    padding-top: 30px;
    h1{
        text-align: center;
        height: 120px;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 10px;
    }
    p{
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        height: 80px;
        margin-top: 0;
        margin-bottom: 0;
    }
    &__cadre-bouton{
        height: 120px;
        margin-top: 0;
        margin-bottom: 5px;
        margin-top: 20px;
        &--bouton{
            background: linear-gradient(#eb73da, #a35bdc) ;
            color: white;
            border-radius: 20px;
            width: 180px;
            height: 40px;
            border-style: none;
            box-shadow: 0px 5px 5px $gris_fonce ;
        }
    }
}


// 3 Blocs Fonctionnement

.fonctionnement{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 80px;
        &__cadre{
            background-color: $gris_clair;
            display: flex;
            align-items: center;
            width: 100%;
            height: 200px;
            border-radius: 20px;
            margin-bottom: 20px;
            box-shadow: 10px 5px 5px $gris_fonce;
                i{
                    margin-left: 30px;
                    margin-right: 10px;
                    width: 30px;
                }
                p{
                    position: absolute;
                    border-radius: 100px;
                    background-color: #9356dc;
                    color: white;
                    border-radius: 40px;
                    padding: 4px;
                    padding-left: 8px;
                    padding-right: 8px;
                    left: -10px;
                    margin: 0;
                }
        }
    }

// TITRE RESTAURANT 

.titreRestaurant{
    background-color: $gris_clair;
    padding-bottom: 5px;
    padding-top: 30px;
    padding-left: 5%;
    margin-top: 50px;
}


//                            RESTAURANTS ==> BLOC 

.blocRestaurants{
    background-color: $gris_clair;
}


// RESTAURANTS ==> Vignettes

.blocRestaurants{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $gris_clair;
    padding-bottom: 50px;
    &__vignetteRestaurant{
        height: 270px;
        width: 90%;
        background-color: white;
        border-radius: 20px;
        margin-bottom: 20px;
        position: relative;

        &__blocPhoto{ 
            height: 200px;
            margin:0;
            border-radius: 20px 20px 0px 0px;
                &--photo{
                width: 100%;
                border-radius: 20px 20px 0px 0px;
                background-size: cover;
                object-fit: cover;
                height: 200px
                }   
        }

        &__blocTitre{
            display: flex;
            flex-direction: row;
            height: 70px;

            &--titre{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding-left: 5%;
                padding-top: 10px;
                padding-bottom: 10px;
                width: 90%;
                    h3, p{
                        margin: 0;
                    }
                }
                &--logo{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
        }


        &--blocNouveau{
            position: absolute;
            border-radius: 4px;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin: 0;
            top: 5%;
            right: 5%;     
            background-color:#99e2d0;
                p{
                    margin: 0;
                    color:#199677;
                    font-weight: bolder;
                }
    
           }

        }
    }

//              FOOTER 

.footer{
    background-color: rgb(221, 217, 217);
    padding-left: 5%;
    padding-top: 30px;
    height: 200px;
    filter: invert(100%);
    &__logo{
        img{
            height: 25px;
        }
    }
    &__blocLiens{
        height: 150px;
        &--lien{
            padding-top: 25px;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 25px;
            i{
                width: 30px;
            }
    }
    }
}