// importation des autres fichiers SCSS
@import "variables";
@import "vue.desktop";
@import "vue.tablette";
@import "accueil";
@import "restaurants";
@font-face{
    font-family: "policeRoboto";
    src: url("Polices/roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: "policeShrihand";
    src: url("Polices/shrikhand/Shrikhand-Regular.otf");
}

// Paramètres généraux

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

// organisation pour tout le site 

body{
    margin: 0;
    padding: 0;
}

#site{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x: none;
}

// POLICES 

p{
    font-family: "policeRoboto";
    font-weight: 0;
}

H1{
    font-family: "policeShrikhand";

}






