@font-face {
  font-family: "policeRoboto";
  src: url("../Public/Polices/roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "policeShrihand";
  src: url("../Public/Polices/shrikhand/Shrikhand-Regular.otf");
}
@font-face {
  font-family: "policeRobotoBoldItalic";
  src: url("../Public/Polices/roboto/RobotoCondensed-BoldItalic.ttf");
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  padding: 0;
}

.site {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-x: none;
}

h2 {
  font-family: "policeShrihand";
  font-weight: 900;
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h5 {
  font-size: 21px;
  opacity: 0.6;
  margin-top: 0;
  margin-bottom: 0;
}

#logo {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-bottom: 10px;
}
#logo img {
  width: 60%;
}

.bordureHaute {
  height: 5px;
  width: 100%;
  background: linear-gradient(#d2d2d2, #a7adbf);
}

.gps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #a7adbf;
}

.accueil {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #e2e3e7;
  padding-bottom: 30px;
  padding-top: 30px;
}
.accueil h1 {
  text-align: center;
  height: 120px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.accueil p {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  height: 80px;
  margin-top: 0;
  margin-bottom: 0;
}
.accueil__cadre-bouton {
  height: 120px;
  margin-top: 0;
  margin-bottom: 5px;
  margin-top: 20px;
}
.accueil__cadre-bouton--bouton {
  background: linear-gradient(#eb73da, #a35bdc);
  color: white;
  border-radius: 20px;
  width: 180px;
  height: 40px;
  border-style: none;
  box-shadow: 0px 5px 5px #a7adbf;
}

.fonctionnement {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 80px;
}
.fonctionnement__cadre {
  background-color: #e2e3e7;
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 10px 5px 5px #a7adbf;
}
.fonctionnement__cadre i {
  margin-left: 30px;
  margin-right: 10px;
  width: 30px;
}
.fonctionnement__cadre p {
  position: absolute;
  border-radius: 100px;
  background-color: #9356dc;
  color: white;
  border-radius: 40px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  left: -10px;
  margin: 0;
}

.titreRestaurant {
  background-color: #e2e3e7;
  padding-bottom: 5px;
  padding-top: 30px;
  padding-left: 5%;
  margin-top: 50px;
}

.blocRestaurants {
  background-color: #e2e3e7;
}

.blocRestaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e2e3e7;
  padding-bottom: 50px;
}
.blocRestaurants__vignetteRestaurant {
  height: 270px;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
}
.blocRestaurants__vignetteRestaurant__blocPhoto {
  height: 200px;
  margin: 0;
  border-radius: 20px 20px 0px 0px;
}
.blocRestaurants__vignetteRestaurant__blocPhoto--photo {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  background-size: cover;
  object-fit: cover;
  height: 200px;
}
.blocRestaurants__vignetteRestaurant__blocTitre {
  display: flex;
  flex-direction: row;
  height: 70px;
}
.blocRestaurants__vignetteRestaurant__blocTitre--titre {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
}
.blocRestaurants__vignetteRestaurant__blocTitre--titre h3, .blocRestaurants__vignetteRestaurant__blocTitre--titre p {
  margin: 0;
}
.blocRestaurants__vignetteRestaurant__blocTitre--logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blocRestaurants__vignetteRestaurant--blocNouveau {
  position: absolute;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  top: 5%;
  right: 5%;
  background-color: #99e2d0;
}
.blocRestaurants__vignetteRestaurant--blocNouveau p {
  margin: 0;
  color: #199677;
  font-weight: bolder;
}

.footer {
  background-color: #ddd9d9;
  padding-left: 5%;
  padding-top: 30px;
  height: 200px;
  filter: invert(100%);
}
.footer__logo img {
  height: 25px;
}
.footer__blocLiens {
  height: 150px;
}
.footer__blocLiens--lien {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
}
.footer__blocLiens--lien i {
  width: 30px;
}

.photoRestaurant img {
  height: 380px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
}

.blocCarte {
  height: auto;
  width: 100%;
  background-color: #e2e3e7;
  margin-top: -90px;
  border-radius: 50px 50px 0px 0px;
}
.blocCarte__titreRestau {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
}
.blocCarte__titreRestau--intitule {
  width: 80%;
}
.blocCarte__titreRestau--logoFavoris {
  width: 20%;
  height: 40px;
}
.blocCarte__titreRestau--logoFavoris i {
  display: flex;
  justify-content: center;
  height: 20px;
  width: 100%;
}

.blocMenu__blocTitre {
  margin-left: 5%;
  width: max-content;
  margin-top: 40px;
}
.blocMenu__blocTitre--bordureBasse {
  background-color: aqua;
  height: 3px;
  width: calc(100% - 25%);
  block-size: 50% content-box;
  background-color: #3fa4d3;
  margin-top: 2px;
}
.blocMenu__blocPlat {
  height: 70px;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px;
  background-color: white;
}
.blocMenu__blocPlat--plat {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.blocMenu__blocPlat--plat h3 {
  font-size: 25px;
}
.blocMenu__blocPlat--prix {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.blocMenu__blocPlat--prix p {
  font-weight: bold;
  opacity: 0.6;
  font-size: 20px;
  white-space: nowrap;
  width: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.blocMenu__blocPlat--prix h3 {
  font-size: 20px;
}
.blocMenu__blocPlat h3, .blocMenu__blocPlat p {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0;
  margin-bottom: 0;
}

.commander {
  height: 200px;
  margin-top: 0;
  margin-bottom: 5px;
  margin-top: 60px;
}
.commander__cadreBouton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.commander__cadreBouton--bouton {
  background: linear-gradient(#eb73da, #a35bdc);
  color: white;
  border-radius: 50px;
  height: 40px;
  border-style: none;
  box-shadow: 0px 5px 5px #a7adbf;
  width: 60%;
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
