.photoRestaurant img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}

.blocCarte{
    height: max-content;
    &__anim{
        background-color: $gris-clair;
        width: 100%;
        z-index: 1;
        bottom: 0;
        position: absolute;
   }
    height: auto;
    width: 100%;
    background-color: $gris-clair;
    margin-top: -80px ;
    border-radius: 50px 50px 0px 0px;
    &__titreRestau{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;    
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 10px;
        &--intitule{
            width:80%;
        }
        &--logoFavoris {
            width: 20%;
            height: 40px;
            i{
                display: flex;
                justify-content: center;
                height: 20px;
                width: 100%;
            }
        }
    }
}

.blocMenu{

    &__blocTitre{
        margin-left: 5%;
        width: max-content;
        margin-top: 40px;
        overflow: hidden;
        &--bordureBasse{
            background-color: aqua;
            height: 3px;
            width: calc(100% - 25%);
            block-size: 50% content-box;
            background-color: #99e2d0;
            margin-top: 2px;
        }
    }
    &__blocPlat{


        &:hover{
            .blocMenu__blocPlat--plat{
                width: 80%;
                background-color: brown;
            }
            .blocMenu__blocPlat--descriptif{
                width: 65%;
            }
            .blocMenu__blocPlat--caseCoche{
                width: 20%;
                transform: translateX(0);
            }
        }

        height: 70px;
        margin-left: 5% ;
        margin-right: 5%;
        margin-top: 15px;
        border-radius: 20px;
        background-color: white;
        box-shadow: 5px 5px 5px  $gris_fonce ;
        // règles de positionnement
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
            &--plat{
                width: 100%;
                height: 35px;
                background-color: brown;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-content: center;
            }
            &--descriptif{
                width: 85%;
                height: 35px;
                display: flex;
                align-items: flex-start;
                background-color: chartreuse;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                p{
                    font-size: 17px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
            &--prix{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                width:15%;
                height: 35px;
                align-items: flex-end;
                justify-content: space-between;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-content: center;
                background-color: cyan;
                p{
                    font-weight: bold;
                    opacity: 0.60;
                    font-size: 15px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                h3{
                    font-size: 20px;
                }
            }

            h3, p{
                margin-left: 15px;
                margin-right: 15px;
                margin-top: 0;
                margin-bottom: 0;
            }
            &--caseCoche{
                background-color: #47635c;
                width: 0%;
                height: 100%;
                transform: translatex(100px);
                overflow: hidden;
    
                }
        }


    }

.commander{
    @include boutonCommander;
}


