// photo du haut 

.photoRestaurant img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}

// bloc contenant la carte : l'animation et le titre 

.blocCarte{
    height: max-content;
    &__anim{
        background-color: $gris-clair;
        width: 100%;
        z-index: 1;
        bottom: 0;
   }
    height: auto;
    width: 100%;
    background-color: $gris-clair;
    margin-top: -80px ;
    border-radius: 50px 50px 0px 0px;
    &__titreRestau{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;    
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 10px;
        &--intitule{
            width:80%;
        }
        &--logoFavoris {
            width: 20%;
            height: 40px;
            i{
                display: flex;
                justify-content: center;
                height: 20px;
                width: 100%;
                -webkit-text-stroke-width: 0px;
                color: rgb(107, 103, 103);
            }
        }
    }
}


// bloc contenant le menu 

.blocMenu{
    h5{
        font-weight: 300;
    }

    &__blocTitre{
        margin-left: 5%;
        width: max-content;
        margin-top: 40px;
        overflow: hidden;
        &--bordureBasse{
            background-color: aqua;
            height: 3px;
            width: calc(100% - 25%);
            block-size: 50% content-box;
            background-color: #99e2d0;
            margin-top: 2px;
        }
    }
    &__blocPlat{

        cursor: url("./Public/images/cursor/mac-cursor.cur"), zoom-in;

        height: 70px;
        margin-left: 5% ;
        margin-right: 5%;
        margin-top: 15px;
        border-radius: 20px;
        background-color: white;
        box-shadow: 5px 5px 5px  $gris_fonce ;
        // règles de positionnement
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        overflow: hidden;


        &--plat{
                height: 100%;
                padding-top: 8px;
                padding-bottom: 8px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                h3, p{
                    width: 90%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow:hidden;
                }
                p{
                    font-family: "Roboto", sans-serif;
                    font-weight: 300;
                }

            }
        &--prix{
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            p{
                font-weight: bold;
                opacity: 0.60;
                font-size: 10px;
            }
            h3{
                font-size: 15px;
            }
        }

        h3, p{
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 0;
            margin-bottom: 0;
        }
        &--caseCoche{
            background-color: #47635c;
            width: 0%;
            height: 100%;
            transform: translatex(30px);
            overflow: hidden
            }
        }
    }


    // le bouton qui est tout en bas pour commander 
.commander{
    @include boutonCommander;
}

